main {
    margin-top: 10%;
    text-align: center;
}

.nav-link{
    color: rgb(238, 238, 238);
    font-size: 22px;
}

.contenedor{
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 22%;
    margin-right: 22%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgba(230, 229, 229, 0.966);
    background-color: rgb(19, 19, 19);
    box-shadow: 1px 3px 24px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 3px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 24px 0px rgba(0,0,0,0.75);
}

.btn {
    margin-top: 1%;
}